<h1>{{ name }}</h1>

<dl>
    <td>Nombre:</td>
    <dd> {{ name }}</dd>

    <td>Edad:</td>
    <dd> {{ age }} </dd>

    <td>Metodo:</td>
    <dd> {{ getHeroDescription()}} </dd>

    <td>Capitalizado:</td>
    <dd> {{ capitalizeName }} </dd>
</dl>

<button (click)="changeHero()" class='btn btn-primary mx-2' *ngIf="name !== 'Spiderman'">Cambiar nombre</button>
<button (click)=" changeAge() " class='btn btn-primary mx-2' *ngIf="age !== 20">Cambiar edad</button>
<button (click)=" resetForm() " class='btn btn-primary mx-2'>Reset data</button>